.about {
    scroll-margin-top: 80px;
    justify-items: center;
}

.about-heading {
    padding-top: 20px;
    padding-bottom: 10px;
}

.about-content {
    width: 80%;
}

p {
    margin-bottom: 30px;
}