.experience-page {
    padding: 8rem 1rem;
    text-align: center;
}

.experience-title {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #2563eb; /* green accent */
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
